<div
  class="pokemon-card"
  tabindex="0"
  role="button"
  [attr.aria-label]="'Ver detalhes de ' + pokemon.name"
>
  <div class="pokemon-number">#{{ getPokemonNumber() }}</div>

  <div class="pokemon-image">
    <img [src]="getPokemonImage()" [alt]="pokemon.name" loading="lazy" />
  </div>

  <h3 class="pokemon-name">{{ pokemon.name }}</h3>

  <div class="pokemon-types">
    <span
      *ngFor="let type of pokemon.types"
      class="type-badge"
      [style.backgroundColor]="getTypeColor(type.type.name)"
    >
      {{ type.type.name }}
    </span>
  </div>
</div>
